body{
 background-color: #CFCFCF;
 height: 100vh;
 width: 100vw;
 overflow: hidden;
}

.content{
vertical-align: middle;
background-color: #CFCFCF;
margin: 35vh auto 0 auto;
padding: 0;
height: 30vh;
width: 40vw;
}

.dalist{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 5vh auto 0 auto;
  padding: 0;
  height: 80vh;
  width: 60vw;
}

.dastarttest{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 40vh auto 0 auto;
  padding: 0;
  height: 15vh;
  width: 30vw;
}

.damaintest{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 20vh auto 0 auto;
  padding: 0;
  height: 50vh;
  width: 60vw;
}

.dastoptest{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 40vh auto 0 auto;
  padding: 0;
  height: 15vh;
  width: 30vw;
}

.alert{
  margin:0;
  padding: 0;
}

p.statustext{
  font-size: 31px;
  padding: 0;
  text-align: center;
}

p.listtext{
  font-size: 25px;
  padding: 0;
  text-align: center;
}

.listheader{
  font-size: 20px;
  padding: 0;
  text-align: center;
}

.listcontent{
  font-size: 14px;
  background-color: #b6ccef;
  padding: 0;
  text-align: center;
}

p.teststartstop{
  font-size: 40px;
  padding: 0;
  text-align: center;
}

p.testmain{
  font-size: 30px;
  padding: 0;
  text-align: center;
}

p.testmainbl{
  font-size: 23px;
  padding: 0;
  text-align: center;
}

.click{
  cursor: pointer;
}

#dropdownMenu1{
  font-size: 31px;
  padding: 0;
  font-weight: lighter;
}

#droppeddownMenu1{
  background-color: blue;
  font-size: 22px;
}

#inputtestmeaning.form-control::-webkit-input-placeholder { color: #888888; text-align: center;}
#inputtestmeaning.form-control:-moz-placeholder { color: #888888; text-align: center; }
#inputtestmeaning.form-control::-moz-placeholder { color: #888888; text-align: center; }
#inputtestmeaning.form-control:-ms-input-placeholder { color: #888888; text-align: center; }
#inputtestmeaning{
  text-align: center;
}
