body{
 background-color: #CFCFCF;
 height: 100vh;
 width: 100vw;
 overflow: hidden;
}

.content{
vertical-align: middle;
background-color: #CFCFCF;
margin: 35vh auto 0 auto;
padding: 0;
height: 30vh;
width: 40vw;
}

.dalist{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 5vh auto 0 auto;
  padding: 0;
  height: 80vh;
  width: 60vw;
}

.dastarttest{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 40vh auto 0 auto;
  padding: 0;
  height: 15vh;
  width: 30vw;
}

.damaintest{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 20vh auto 0 auto;
  padding: 0;
  height: 42vh;
  width: 50vw;
}

.dastoptest{
  vertical-align: middle;
  background-color: #CFCFCF;
  margin: 40vh auto 0 auto;
  padding: 0;
  height: 15vh;
  width: 30vw;
}

.alert{
  margin:0;
  padding: 0;
}

p.statustext{
  font-size: 2.2vw;
  padding: 0;
  text-align: center;
}

p.listtext{
  font-size: 1.7vw;
  padding: 0;
  text-align: center;
}

p.listheader{
  font-size: 1.3vw;
  padding: 0;
  text-align: center;
}

.listcontent{
  font-size: 1vw;
  background-color: #b6ccef;
  padding: 0;
  text-align: center;
}

p.teststartstop{
  font-size: 3vw;
  padding: 0;
  text-align: center;
}

p.testmain{
  font-size: 2vw;
  padding: 0;
  text-align: center;
}

p.testmainbl{
  font-size: 1.5vw;
  padding: 0;
  text-align: center;
}

.click{
  cursor: pointer;
}

#dropdownMenu1{
  font-size: 2.2vw;
  padding: 0;
  font-weight: lighter;
}

#droppeddownMenu1{
  background-color: blue;
  font-size: 22px;
}

#inputtestmeaning.form-control::-webkit-input-placeholder { color: #888888; text-align: center; font-size:1.1vw;}
#inputtestmeaning.form-control:-moz-placeholder { color: #888888; text-align: center; font-size:1.1vw;}
#inputtestmeaning.form-control::-moz-placeholder { color: #888888; text-align: center; font-size:1.1vw;}
#inputtestmeaning.form-control:-ms-input-placeholder { color: #888888; text-align: center; font-size:1.1vw;}
#inputtestmeaning{
  text-align: center;
  font-size: 1.1vw;
}

h4.modal-title{
  font-size: 180%;
}

p.addwordmodaltext{
  font-size: 117%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
